.call-room-user-item-container {
  width: calc(100% / 3 - 25px); /* 3열로 나눔, 여백 보정 */
  height: 240px; /* 각 아이템 높이 */
  background-color: #FFF; /* 아이템 배경색 */
  border: 1px solid #ccc; /* 테두리 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px; /* 둥근 모서리 */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 */
}

.call-room-user-container > .call-room-user-item-container:nth-child(1) {
  width: calc(100% - 20px); /* 1개일 때 전체 너비 */
}

.call-room-user-container > .call-room-user-item-container:nth-child(2),
.call-room-user-container > .call-room-user-item-container:nth-child(3) {
  width: calc(50% - 250px); /* 2개일 때 2열 배치 */
}

.call-room-user-container > .call-room-user-item-container:nth-child(3n+1) {
  width: calc(100% / 3 - 20px); /* 3개일 때 3열 배치 */
}
.call-room-user-item-container .video{
  width: 100%;
  height: 190px;
}
.call-room-user-item-container .member-name{
  width: 100%;
  height: 49px;
  border-top: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}